body {
  text-align: center;
  font-family: arial, sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-weight: 500;
  margin-top: 20px;
}

span {
  display: block;
  font-style: italic;
  font-size: 25px;
  font-weight: 100;
  padding-top: 5px;
}

svg > circle {
  opacity: .40;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 0px 10px;
  font-family: sans-serif;
  background: white;
  border-radius: 5px;
  pointer-events: none;
}

.state-boundary {
  fill: none;
  stroke: #fff;
}

.states {
  fill: #efefef;
}


.key {
  font-size: 14px;
  font-weight: 300;
  transform: translate(0, -7);
}

.opaque {
  opacity: .10;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.raceStatSVG {
  width: 300px;
  height: 300px;
}
