body {
  text-align: center;
}

.state-boundary {
  fill: none;
  stroke: #fff;
}

.states {
  fill: #efefef;
}

div.tooltip {
 	position: absolute;
	text-align: left;
	height: 200px;
  width: 100px;
	padding: 5px;
	font-family: sans-serif;
	background: white;
	pointer-events: none;
}
