body {
  text-align: center;
  font-family: arial, sans-serif;
}

svg {
  margin-top: 20px;
}

.state-boundary {
  fill: none;
  stroke: #fff;
}

.states {
  fill: #efefef;
}

div.tooltip {
 	position: absolute;
	text-align: center;
	padding: 0px 10px;
	font-family: sans-serif;
	background: white;
  border-radius: 5px;
	pointer-events: none;
}
